@{
    ViewData["Title"] = "Home Page";
}

<h4>@ViewData["Message"]</h4>

<p>Use this area to provide additional information.</p> 

<address>
    <strong>More information:</strong> <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank">About MVC</a>
</address>
